<article class="country-card">
    <h1 class="country-name">{{name}}</h1>
    <div class="content-wrapper">
        <div class="text-wrapper">
            <p class="primary-text">
                Capital: <span class="secondary-text">{{capital}}</span>
            </p>
            <p class="primary-text">
                Population: <span class="secondary-text">{{population}}</span>
            </p>
            <ul class="primary-text">
                Languages:
                {{#each languages}}
                <li class="secondary-text list-item">{{name}}</li>
                {{/each}}
            </ul>
        </div>
        <img class="country-flag" src="{{flags.png}}" alt="Флаг страны" />
    </div>
</article>